{% extends "base.html" %}

{% block css %}
  {{ block.super }}
  <link href="/static/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}

  <section class="contact1 cid-s9qheyw619" id="contacts1-5">
    <div class="container">
      <h2 class="align-center mbr-fonts-style mbr-light display-2">Course Registration</h2><br>
      <h3 class="align-center mbr-fonts-style mbr-light display-2">Name: {{ request.user.get_full_name  }} </h3>
      <h3 class="align-center mbr-fonts-style mbr-light display-2">Matric No: {{ request.user.matric_number }} </h3>
      <div class="mbr-row mbr-jc-c mbr-pt-4">
        <div class="mbr-col-lg-10  mbr-col-md-12 mbr-col-sm-12">
          <form class="mbr-form" method="post">
            <div class="mbr-row">
              {% csrf_token %}
              <div class="field mbr-col-sm-6 mbr-col-md-6 mbr-col justify-center" data-for="form[data][1][1]">
                <select class="field-input display-4" name="courses_registered" id="courses" multiple>
                {% for course in courses %}
                  <option value="{{ course.id }}">{{course.code }} - {{ course.title }}</option>
                {% endfor %}
                </select>
              </div>
            </div>
            <div class="mbr-row">
              <div class="field mbr-col-sm-6 mbr-col-md-6 mbr-col" data-for="form[data][1][1]">
                <input class="field-input display-4" type="submit" value="Register">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/static/js/jquery.multi-select.js" type="text/javascript"></script>
  <script type="text/javascript">
    $('#courses').multiSelect()
  </script>
{% endblock %}
