{% extends "base.html" %}

{% block title %} Create Class | Admin{% endblock %}<
{% block content %}

<section class="engine"><a href="https://mobirise.info/z">best free html templates</a></section><section class="contact1 cid-s9qWhgojCF" id="contacts1-a">

    

    <div class="container">
        <h2 class="align-center mbr-fonts-style mbr-light display-2">Create New Class</h2>
        

        <div class="mbr-row mbr-jc-c mbr-pt-4">
            <div class="mbr-col-lg-10  mbr-col-md-12 mbr-col-sm-12" data-form-type="formoid">
                <form class="mbr-form" method="post" target="_top" action-xhr="https://formoid.net/api/amp-form/push">
                    <div class="mbr-row">
                      <div submit-success="" class="mbr-col-sm-12 mbr-col-md-12">
                        
                      </div>
                      <div submit-error="" class="mbr-col-sm-12 mbr-col-md-12">
                        
                      </div>
                    </div>
                    <div class="mbr-row">
                        <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][0][1]">
                            <input type="hidden" name="form[data][0][0]" value="Name" id="form[data][0][0]-contacts1-a">
                            <input class="field-input display-4" type="text" name="form[data][0][1]" data-form-field="Name" placeholder="Class Name" required="" id="form[data][0][1]-contacts1-a">
                        </div>
                        <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][1][1]">
                            <input type="hidden" name="form[data][1][0]" value="Last Name" id="form[data][1][0]-contacts1-a">
                            <input class="field-input display-4" type="text" name="form[data][1][1]" data-form-field="Last Name" placeholder="Class Code" required="" id="form[data][1][1]-contacts1-a">
                        </div>
                        
                        <div class="mbr-section-btn align-center field mbr-col-sm-12 mbr-col-md-12 mbr-col-auto"><button type="submit" class="btn btn-primary btn-form display-4">Create New Class<br></button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}