 {% extends "base.html" %} 
{% block title %} Portal | Student{% endblock %}
 {% block content %}

<section class="engine"><a href="https://mobirise.info/t">free amp template</a></section><section class="header2 cid-s9qXp57Tf3" id="header2-d">
    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-col-lg-8 mbr-col-sm-12 mbr-col-md-12 mbr-flex mbr-column">
                <h1 class="mbr-fonts-style align-center mbr-bold mbr-pt-1 mbr-pb-3 display-1">WELCOME TO THE STUDENT PORTAL</h1>
                <h3 class="mbr-fonts-style align-center mbr-pt-1 mbr-pb-3 display-5"></h3>
                <div class="mbr-text align-center">

                </div>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="{% url 'student_signup' %}">Student Sign up&nbsp;</a>
                  <a class="btn btn-md btn-warning display-4" href="{% url 'student_login' %}">Student Login</a></div>
                <img src="/static/images/istockphoto-boy.jpg" alt="students" width="728.8888888888888" height="410" layout="responsive" class="mobirise-loader mbr-m-auto align-center" title="studensss">
                    <div placeholder="" class="placeholder">
                        <div class="mobirise-spinner">
                            <em></em>
                            <em></em>
                            <em></em>
                        </div>
                    </div>
                </img>
            </div>
        </div>
    </div>

</section>


{% endblock %}