{% extends "base.html" %}
{% block title %} Login | Student{% endblock %}
{% block content %}
<section class="engine"><a href="https://mobirise.info/e">make a website</a></section>
<section class="contact1 cid-s9qheyw619" id="contacts1-5">
  <div class="container">
    <h2 class="align-center mbr-fonts-style mbr-light display-2">student login</h2>
    <!----------------------------- Form Field Begins------------------------------------>
    <div class="mbr-row mbr-jc-c mbr-pt-4">
      <div class="mbr-col-lg-10  mbr-col-md-12 mbr-col-sm-12" data-form-type="formoid">
        <form class="mbr-form" method="post" target="_top" action-xhr="https://formoid.net/api/amp-form/push">

          {% csrf_token %}
          <div class="mbr-row">
            <div submit-success="" class="mbr-col-sm-12 mbr-col-md-12">

            </div>
            {% if form.non_field_errors %}
            <div class="mbr-col-sm-12 mbr-col-md-12 text-danger">
              {% for error in form.non_field_errors %}
              {{ error }}
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div class="mbr-row">

            <!----------------------------- username------------------------------------>

            <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][0][1]">
              {% if form.username.errors %}
              {% for error in form.username.errors %}
              <p class="text-danger">
                {{ error }}
              </p>
              {% endfor %}
              {% endif %}
              <input class="field-input display-4" type="text" name="username" placeholder="Matric Number/Email"
                required="">
            </div>


            <!------------------------- Password  -------------------------------->

            <div class="field mbr-col-sm-12 mbr-col-md-12 mbr-col" data-for="form[data][1][1]">
              {% if form.password.errors %}
              {% for error in form.password.errors %}
              <p class="text-danger">
                {{ error }}
              </p>
              {% endfor %}
              {% endif %}
              <input class="field-input display-4" type="password" name="password" placeholder="Password" required="">
            </div>

            <input type="submit" name="LOGIN">

          </div>

        </form>


        <div>
          {% for message in messages%}
          <h2>{{message}}</h2>
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}