{% extends "base.html" %}
{% block content %}
<section class="engine"><a href="https://mobirise.info/q">responsive site templates</a></section><section class="mbr-section content5 cid-s9rl2S5iOY" id="content5-y">

    

    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-section-btn mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-8 align-center"><a class="btn btn-primary display-4" href="https://mobirise.co">CAPTURE</a>
                <a class="btn btn-black-outline display-4" href="https://mobirise.co">VERIFY</a></div>
        </div>
    </div>
</section>
{% endblock %}