{% extends "base.html" %}
{% block content %}
<section class="engine"><a href="#">responsive site templates</a></section><section class="mbr-section content5 cid-s9rl2S5iOY" id="content5-y">


    </section>
    <section class="contact1 cid-s9rgDhltSO" id="contacts1-s">
        <div class="container">
            <h2 class="align-center mbr-fonts-style mbr-light display-2">
                Student Verification&nbsp;</h2>
            <h3 class="mbr-section-subtitle align-center mbr-fonts-style mbr-light mbr-pt-1 mbr-pb-1 display-5"> Enter Student's Matriculation Number in The Column Below </h3>
            <div class="mbr-row mbr-jc-c mbr-pt-4">
                <div class="mbr-col-lg-10  mbr-col-md-12 mbr-col-sm-12" data-form-type="formoid">
                
                <form class="mbr-form" method="post"  action = "check_student">
                    {% csrf_token %}
                    {{ form }} 

                 <div class="container">
                    <div class="mbr-row mbr-jc-c">
                        <div class="mbr-section-btn mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-8 align-center">
                            <a class="btn btn-primary display-4" href="check_student">Check Student</a>
                        </div>
                    </div>
                </div>
                </form>

                </div>
            </div>
        </div>
    </section>
    {% if student %}
 <div class="card-box mbr-col-sm-12 mbr-col-md-6 mbr-m-auto mbr-p-2">
    <h4 class="mbr-fonts-style card-subtitle align-left mbr-semibold display-4">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PROFILE<br><br>
    Student's Name: {{ student.get_full_name }}<br><br>
    Student's Dept: {{ student.department }}<br><br>
    Student's Matric NO: {{ student.matric_number }}<br><br>
    Student's Phone No: {{ student.phone }}<br><br>
    Student's Email: {{ student.email }}<br><br></h4>
    </p>
</div>
    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-section-btn mbr-col-md-12 mbr-col-sm-12 mbr-col-lg-8 align-center">
            <a class="btn btn-primary display-4" href="{% url 'verify' %}">VERIFY</a>
            </div>
        </div>
    </div>
</section>
  <section class="contact1 cid-s9rgDhltSO" id="contacts1-s">
    <div class="container">
    <div class="mbr-row mbr-jc-c">
        <div class="container">
          <h2 class="align-left mbr-fonts-style mbr-light display-2">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Registered Courses
          </h2>
          <ul>
            {% for course in student.courses_registered.all %}
              <h5 class="align-left mbr-fonts-style mbr-light display-5">
                <li>{{ course.code }} - {{ course.title }} </li>
                &nbsp;</h5>
            {% endfor %}
          </ul>
        </div>
      </div>
  </section>
    {% endif %}
{% endblock %}